#delete {
  --varCascading: 0;
  --contentSpacing: 9px;
  --borderRadius: 4px;
  --fontFamily: JosefinSans;
  --accentColor: #e84855;
}

#save {
  --varCascading: 0;
  --contentSpacing: 9px;
  --borderRadius: 4px;
  --fontFamily: JosefinSans;
  --accentColor: #6b7fd7;
}

#insertButton {
  display: none;
}

#componentSelect {
  width: 100%;
  color: var(--lightColor);
  padding: var(--contentSpacing);
  border-radius: var(--borderRadius);
  background-color: var(--boxColor);
  display: none;
}

#mainContent {
  height: 100%;
  overflow: auto;
}

#editWrap {
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
  width: 100%;
}
